/* new UI */
/* Sidebar Styles */
/* .conversations {
    flex: 1;
    max-height: 100vh;
    overflow-y: auto;
}

/* Scrollbar Styles */
/* .conversations::-webkit-scrollbar,
.chat-messages::-webkit-scrollbar {
    width: 6px;
}

.conversations::-webkit-scrollbar-track,
.chat-messages::-webkit-scrollbar-track {
    background: transparent;
}

.conversations::-webkit-scrollbar-thumb,
.chat-messages::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 3px;
}

.conversations::-webkit-scrollbar-thumb:hover,
.chat-messages::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
} */

:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

.chat-list {
    flex: 1;
    overflow-y: auto;
    max-height: 100%;
    padding-top: 8px;
    padding-left: 8px;
}

.chat-filters {
    display: flex;
    gap: 8px;
    padding: 8px 18px;
    /* border-bottom: 1px solid #dadde1; */
}

.filter {
    padding: 6px 10px;
    border-radius: 16px;
    font-size: 15px;
    cursor: pointer;
    color: #000;
    font-weight: 620;
    transition: all 0.2s;
    min-width: 36px;
}

.filter.active {
    background-color: #EBF5FF;
    color: #0866FF;
}

.filter:hover:not(.active) {
    background-color: #f0f2f5;
}