/* new UI */
/* Sidebar Styles */
/* .conversations {
    flex: 1;
    max-height: 100vh;
    overflow-y: auto;
}

/* Scrollbar Styles */
/* .conversations::-webkit-scrollbar,
.chat-messages::-webkit-scrollbar {
    width: 6px;
}

.conversations::-webkit-scrollbar-track,
.chat-messages::-webkit-scrollbar-track {
    background: transparent;
}

.conversations::-webkit-scrollbar-thumb,
.chat-messages::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 3px;
}

.conversations::-webkit-scrollbar-thumb:hover,
.chat-messages::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
} */

:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

.chat-list {
    flex: 1;
    overflow-y: auto;
    max-height: 100%;
    padding-top: 8px;
    padding-left: 8px;
}