<!-- <div class="mesgs">
  <div #messageContainer class="msg_history">
    <div *ngFor="let message of messages">
      <app-message [message]="message"></app-message>
    </div>
  </div>
  <div class="type_msg">
    <div class="input_msg_write">
      <form (ngSubmit)="sendMessage()" [formGroup]="chatForm">
        <input type="text" formControlName="contentMessage" />
        <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
      </form>
    </div>
  </div>
</div> -->

<div class="chat-main">
  <div class="chat-header">
    <div class="chat-user-info">
      <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=40&h=40&fit=crop&crop=face"
        alt="Beate Lemoine" class="chat-user-img">
      <div class="chat-user-details">
        <h3>Beate Lemoine</h3>
        <span class="last-seen">last seen today at 09:15 PM</span>
      </div>
    </div>
    <div class="chat-actions">
      <i class="fas fa-info-circle"></i>
      <i class="fas fa-video"></i>
      <i class="fas fa-search"></i>
      <i class="fas fa-ellipsis-v"></i>
    </div>
  </div>

  <div #messageContainer class="chat-messages">
    <div *ngFor="let message of messages,  trackBy: trackByMessageId">
      <app-message [message]="message" [activeMenuId]=null [activeEmojiMenuId]=null (reply)="onReplyMessage($event)">
      </app-message>
    </div>
  </div>

  <div class="chat-input">
    <div *ngIf="replyingMessage" class="reply-frame">
      <strong>Replying to {{replyingMessage.sender}}</strong>
      <span>{{replyingMessage.content}}</span>
      <button type="button" class="close-reply" (click)="cancelReply()">×</button>
    </div>
    <!-- File preview list -->
    <div class="file-preview-list" *ngIf="attachedFiles.length > 0">
      <div class="file-preview" *ngFor="let file of attachedFiles; let i = index">
        <ng-container *ngIf="file.file | fileType as type">
          <!-- Nếu là ảnh -->
          <img *ngIf="type === 'image'" [src]="file.linkPreview" (click)="openPreview(file.linkPreview)"
            class="attachment-img" alt="preview" />

          <!-- Nếu là video -->
          <video *ngIf="type === 'video'" [src]="file.linkPreview" class="attachment-img" controls></video>

          <!-- Nếu là file PDF -->
          <div *ngIf="type === 'pdf'"><a> <i class="fa-regular fa-file-pdf"></i> {{ file.fileName}}</a>
          </div>

          <!-- Nếu là file Word -->
          <div *ngIf="type === 'word'"><a> <i class="fa-regular fa-file-word"></i> {{ file.fileName}}</a>
          </div>

          <!-- Nếu là file Excel -->
          <div *ngIf="type === 'excel'"><a> <i class="fa-regular fa-file-excel"></i> {{ file.fileName }}</a>
          </div>

          <div *ngIf="type === 'powerpoint'"><a> <i class="fa-regular fa-file-powerpoint"></i>{{ file.fileName }}</a>
          </div>

          <!-- Nếu là file khác -->
          <div *ngIf="type === 'other'" class="file-icon other"> 📎 <a>{{ file.fileName }}</a>
          </div>
          <button class="remove-file" (click)="removeFile(i)">✖</button>
        </ng-container>
      </div>
    </div>
    <div class="input-container">
      <!-- Reply frame -->
      <form (ngSubmit)="sendMessage()" [formGroup]="chatForm">
        <input type="text" formControlName="contentMessage" placeholder="Write a message" #chatInput />
        <div class="input-actions">
          <button type="button" class="send-btn" (click)="fileInput.click()">
            <i class="fas fa-paperclip"></i>
          </button>
          <input type="file" id="fileInput" multiple #fileInput (change)="onFileSelected($event)" hidden />
          <button type="button" class="send-btn">
            <i class="fas fa-smile"></i>
          </button>
          <!-- <button type="button" class="send-btn">
            <i class="fas fa-camera"></i>
          </button> -->
          <button type="submit" class="send-btn">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>