<div class="wrapper">
    <div class="title-text">
        <div class="title login" #loginText>Forgot password</div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form action="#" class="forgotPassword" [formGroup]="this.forgotPasswordForm" (ngSubmit)="forgotPassword()">
                <div class="field">
                    <input formControlName="email" type="text" class="form-control" id="inputEmail"
                        aria-describedby="emailHelp" placeholder="Email Address" required>
                        <div class="error" *ngIf="forgotPasswordForm.get('email')?.hasError('required') && (forgotPasswordForm.get('email')?.touched || submitted)"> 
                        Email is required
                    </div>
                </div>
                <div class="field">
                    <input formControlName="password" type="password" class="form-control" id="inputPassword"
                        placeholder="Password" required>
                    <div class="error" *ngIf="forgotPasswordForm.get('password')?.hasError('required') && (forgotPasswordForm.get('password')?.touched || submitted)"> 
                        Password is required
                    </div>
                </div>
                <div class="field">
                    <input formControlName="confirmPassword" type="password" class="form-control" id="inputPassword"
                        placeholder="Password" required>
                        <div class="error" *ngIf="forgotPasswordForm.get('confirmPassword')?.hasError('required') && (forgotPasswordForm.get('confirmPassword')?.touched || submitted)"> 
                        Confirm Password is required
                    </div>
                </div>
                <div class="pass-link"><a (click)="backToSignIn()">Back to Sign In</a></div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Forgot Password">
                </div>
            </form>
        </div>
    </div>
</div>