<!-- <div *ngIf="isOutgoingMessage; else outGoingMessage">
  <div class="incoming_msg">
    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"> </div>
    <div class="received_msg">
      <div class="received_width_msg">
        <span class="time_date"> {{message.sender}}</span>
        <p>{{message.content}}</p>
        <span class="time_date"> {{message.createdAt}}</span>
      </div>
    </div>
  </div>
</div>
<ng-template #outGoingMessage>
    <div class="outgoing_msg">
      <div class="sent_msg">
        <span class="time_date"> {{message.sender}}</span>
        <p>{{message.content}}</p>
        <span class="time_date"> {{message.createdAt}}</span>
      </div>
    </div>
</ng-template> -->

<div *ngIf="isOutgoingMessage; else outGoingMessage">
  <div class="message received" (click)="toggleMenu(message.id)">
    <div class="bubble-wrapper">
      <div *ngIf="message.isReply" class="reply-bubble">
        {{message.replyContent}}
      </div>
      <div class="message-content"  *ngIf="message.attachedFile === null">
        {{message.content}}
      </div>
      <div class="file-preview" *ngIf="message.attachedFile">
        <!-- <i class="fas fa-file"></i> -->
        <!-- Nếu là ảnh -->
        <img *ngIf="message.attachedFile.type==='image'" [src]="message.attachedFile.linkPreview"
          (click)="openPreview(message.attachedFile.linkPreview)" class="attachment-img" alt="preview" />

        <!-- Nếu là video -->
        <video *ngIf="message.attachedFile.type==='video'" [src]="message.attachedFile.linkPreview"
          class="attachment-img" controls></video>

        <!-- Nếu là file PDF -->
        <div *ngIf="message.attachedFile.type==='pdf'"><a> <i class="fa-regular fa-file-pdf"></i> {{
            message.attachedFile.fileName}}</a>
        </div>

        <!-- Nếu là file Word -->
        <div *ngIf="message.attachedFile.type==='word'"><a> <i class="fa-regular fa-file-word"></i> {{
            message.attachedFile.fileName}}</a>
        </div>

        <!-- Nếu là file Excel -->
        <div *ngIf="message.attachedFile.type==='excel'"><a> <i class="fa-regular fa-file-excel"></i> {{
            message.attachedFile.fileName }}</a>
        </div>

        <div *ngIf="message.attachedFile.type==='powerpoint'"><a> <i class="fa-regular fa-file-powerpoint"></i>{{
            message.attachedFile.fileName }}</a>
        </div>

        <!-- Nếu là file khác -->
        <div *ngIf="message.attachedFile.type==='other'" class="file-icon other"> 📎 <a>{{ message.attachedFile.fileName
            }}</a>
        </div>
      </div>
      <div *ngIf="message.emoji" class="message-emoji" (click)="toggleEmojiPopup(message.id, $event)">
        {{message.emojiString}}
      </div>
      <div class="popup-emoji-container" *ngIf="activeEmojiPopupId === message.id">
      <div class="popup-emoji-overlay">
        <div class="popup-emoji">
          <!-- Header -->
          <div class="popup-emoji-header">
            <h2>Message reactions</h2>
            <button class="close-btn" (click)="closePopup()">✖</button>
          </div>

          <!-- Tabs -->
          <div class="popup-emoji-tabs">
            <button *ngFor="let emojiKey of reactionMap.keys()" class="tab" [class.active]="activeTab === emojiKey"
              (click)="setActiveTab(emojiKey)">
              {{ emojiKey }} ({{ reactionMap.get(emojiKey)?.length || 0 }})
            </button>
          </div>

          <!-- List -->
          <div class="popup-emoji-list" *ngFor="let item of reactionList">
            <div class="user-row">
              <div class="user-info">
                <img src="https://i.pravatar.cc/40?img=1" class="avatar">
                <span>{{item.username}}</span>
              </div>
              <span class="emoji">{{item.emoji}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    <div class="message-time">{{message.createdAt}}</div>
    <div class="message-menu" *ngIf="activeMenuId === message.id">
      <button class="menu-btn" (click)="openEmojiMenu(message.id); $event.stopPropagation()">
        <i class="fas fa-smile"></i>
      </button>
      <button class="menu-btn" (click)="replyMessage(); $event.stopPropagation()">
        <i class="fas fa-reply"></i>
      </button>
      <button class="menu-btn" (click)="editMessage(); $event.stopPropagation()">
        <i class="fas fa-pencil-alt"></i>
      </button>
      <button class="menu-btn" (click)="deleteMessage(); $event.stopPropagation()">
        <i class="fas fa-trash"></i>
      </button>
    </div>
    <div class="emoji-dropdown" *ngIf="activeEmojiMenuId === message.id">
      <span (click)="selectEmoji('❤️'); $event.stopPropagation()">❤️</span>
      <span (click)="selectEmoji('😆'); $event.stopPropagation()">😆</span>
      <span (click)="selectEmoji('😮'); $event.stopPropagation()">😮</span>
      <span (click)="selectEmoji('😢'); $event.stopPropagation()">😢</span>
      <span (click)="selectEmoji('😡'); $event.stopPropagation()">😡</span>
      <span (click)="selectEmoji('👍'); $event.stopPropagation()">👍</span>
      <span (click)="selectEmoji(null); $event.stopPropagation()">🚫</span>
      <!-- ... -->
    </div>
  </div>
</div>
<ng-template #outGoingMessage>
  <div class="message sent" (click)="toggleMenu(message.id)">
    <div *ngIf="message.isReply" class="reply-bubble">
      {{message.replyContent}}
    </div>
    <div class="message-content" *ngIf="message.attachedFile === null">
      {{message.content}}
    </div>
    <div class="file-preview" *ngIf="message.attachedFile">
        <!-- <i class="fas fa-file"></i> -->
                <!-- Nếu là ảnh -->
        <img *ngIf="message.attachedFile.type==='image'" [src]="message.attachedFile.linkPreview"
          (click)="openPreview(message.attachedFile.linkPreview)" class="attachment-img" alt="preview" />

        <!-- Nếu là video -->
        <video *ngIf="message.attachedFile.type==='video'" [src]="message.attachedFile.linkPreview"
          class="attachment-img" controls></video>

        <!-- Nếu là file PDF -->
        <div *ngIf="message.attachedFile.type==='pdf'"><a> <i class="fa-regular fa-file-pdf"></i> {{
            message.attachedFile.fileName}}</a>
        </div>

        <!-- Nếu là file Word -->
        <div *ngIf="message.attachedFile.type==='word'"><a> <i class="fa-regular fa-file-word"></i> {{
            message.attachedFile.fileName}}</a>
        </div>

        <!-- Nếu là file Excel -->
        <div *ngIf="message.attachedFile.type==='excel'"><a> <i class="fa-regular fa-file-excel"></i> {{
            message.attachedFile.fileName }}</a>
        </div>

        <div *ngIf="message.attachedFile.type==='powerpoint'"><a> <i class="fa-regular fa-file-powerpoint"></i>{{
            message.attachedFile.fileName }}</a>
        </div>

        <!-- Nếu là file khác -->
        <div *ngIf="message.attachedFile.type==='other'" class="file-icon other"> 📎 <a>{{ message.attachedFile.fileName
            }}</a>
        </div>
      </div>
    <div *ngIf="message.emoji" class="message-emoji" (click)="toggleEmojiPopup(message.id, $event)">
      {{message.emojiString}}
    </div>
    <div class="popup-emoji-container" *ngIf="activeEmojiPopupId === message.id">
      <div class="popup-emoji-overlay">
        <div class="popup-emoji">
          <!-- Header -->
          <div class="popup-emoji-header">
            <h2>Message reactions</h2>
            <button class="close-btn" (click)="closePopup()">✖</button>
          </div>

          <!-- Tabs -->
          <div class="popup-emoji-tabs">
            <button *ngFor="let emojiKey of reactionMap.keys()" class="tab" [class.active]="activeTab === emojiKey"
              (click)="setActiveTab(emojiKey)">
              {{ emojiKey }} ({{ reactionMap.get(emojiKey)?.length || 0 }})
            </button>
          </div>

          <!-- List -->
          <div class="popup-emoji-list" *ngFor="let item of reactionList">
            <div class="user-row">
              <div class="user-info">
                <img src="https://i.pravatar.cc/40?img=1" class="avatar">
                <span>{{item.username}}</span>
              </div>
              <span class="emoji">{{item.emoji}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="message-time">{{message.createdAt}} <i class="fas fa-check"></i></div>
    <div class="message-menu" *ngIf="activeMenuId === message.id">
      <button class="menu-btn" (click)="openEmojiMenu(message.id); $event.stopPropagation()">
        <i class="fas fa-smile"></i>
      </button>
      <button class="menu-btn" (click)="replyMessage(); $event.stopPropagation()">
        <i class="fas fa-reply"></i>
      </button>
      <button class="menu-btn" (click)="editMessage(); $event.stopPropagation()">
        <i class="fas fa-pencil-alt"></i>
      </button>
      <button class="menu-btn" (click)="deleteMessage(); $event.stopPropagation()">
        <i class="fas fa-trash"></i>
      </button>
    </div>
    <div class="emoji-dropdown" *ngIf="activeEmojiMenuId === message.id">
      <span (click)="selectEmoji('❤️'); $event.stopPropagation()">❤️</span>
      <span (click)="selectEmoji('😆'); $event.stopPropagation()">😆</span>
      <span (click)="selectEmoji('😮'); $event.stopPropagation()">😮</span>
      <span (click)="selectEmoji('😢'); $event.stopPropagation()">😢</span>
      <span (click)="selectEmoji('😡'); $event.stopPropagation()">😡</span>
      <span (click)="selectEmoji('👍'); $event.stopPropagation()">👍</span>
      <span (click)="selectEmoji(null); $event.stopPropagation()">🚫</span>
      <!-- ... -->
    </div>
  </div>
</ng-template>