<div class="wrapper">
    <div class="title-text">
        <div class="title login" #loginText>Login Form</div>
        <div class="title signup" #signupText>Signup Form</div>
    </div>
    <div class="form-container">
        <div class="slide-controls">
            <input type="radio" name="slide" id="login" [checked]="mode === 'login'">
            <input type="radio" name="slide" id="signup" [checked]="mode === 'signup'">
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup">Signup</label>
            <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
            <form action="#" class="login" [formGroup]="signInForm" (ngSubmit)="signIn()" #loginForm>
                <div class="field">
                    <input formControlName="email" type="text" class="form-control" id="inputEmail"
                        aria-describedby="emailHelp" placeholder="Email Address" required>
                        <div class="error" *ngIf="signInForm.get('email')?.hasError('required') && (signInForm.get('email')?.touched || submitted)"> 
                        Email is required
                    </div>
                </div>
                <div class="field">
                    <input formControlName="password" type="password" class="form-control" id="inputPassword"
                        placeholder="Password" required>
                        <div class="error" *ngIf="signInForm.get('password')?.hasError('required') && (signInForm.get('password')?.touched || submitted)"> 
                        Password is required
                    </div>
                </div>
                <div class="pass-link"><a (click)="forgotPassword()">Forgot password?</a></div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="signup-link">Not a member? <a>Signup now</a></div>
            </form>
            <form action="#" class="signup" [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <div class="field">
                    <input formControlName="username" type="text" class="form-control" id="inputUsername"placeholder="Username" required>
                        <div class="error" *ngIf="signUpForm.get('username')?.hasError('required') && (signUpForm.get('username')?.touched || submitted)"> 
                        Username is required
                    </div>
                </div>
                <div class="field">
                    <input formControlName="email" type="text" class="form-control" id="inputEmail"
                        aria-describedby="emailHelp" placeholder="Email Address" required>
                        <div class="error" *ngIf="signUpForm.get('email')?.hasError('required') && (signUpForm.get('email')?.touched || submitted)"> 
                        Email is required
                    </div>
                </div>
                <div class="field">
                    <input formControlName="password" type="password" class="form-control" id="inputPassword"
                        placeholder="Password" required>
                    <div class="error" *ngIf="signUpForm.get('password')?.hasError('required') && (signUpForm.get('password')?.touched || submitted)"> 
                        Password is required
                    </div>
                </div>
                <div class="field">
                    <input formControlName="confirmPassword" type="password" class="form-control" id="inputPassword"
                        placeholder="Password" required>
                        <div class="error" *ngIf="signUpForm.get('confirmPassword')?.hasError('required') && (signUpForm.get('confirmPassword')?.touched || submitted)"> 
                        Confirm Password is required
                    </div>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Signup">
                </div>
            </form>
        </div>
    </div>
</div>